{
  "presets": ["react", "stage-0", "es2015"],
  "plugins": ["transform-decorators-legacy", "transform-class-properties"],
  "env": {
    "development": {
      "sourceMaps": "inline",
      "plugins": [
        ["react-transform", {
          "transforms": [
            {
              "transform": "react-transform-hmr",
              "imports": ["react"],
              "locals": ["module"]
            }, {
              "imports": ["react"]
            }
          ]
        }]
      ]
    }
  }
}
